/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-mrt-2017, 11:43:19
    Author     : Joann
*/

@font-face
{
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.ttf);
}


#message-success{
    padding-right: 10px;
    padding-left: 10px;
}

#field-download{    
    margin-top: 10px;
}

#field-download-all{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.btn, .btn:active, .btn:focus{
    color: #1E64C8;
    background-color: #E9F0FA;
    padding: 7px;
    border:none;
    margin-right: 5px;
}

.btn:hover{
    color: #FFFFFF;
    background-color: #1E64C8;
}

.dragndrop {
    padding: 30px;
    border: 2px solid #1E64C8;
    border-radius: 15px;
}

.collapse-options{
    margin-top: 20px;
}

.radio-type {
    margin-top: 15px;
}

.header-text{
    font-family: 'Oswald', sans-serif;
    background-color: #1E64C8;
    color: #FFF;
}

.dropzone{
    margin-top: 15px;
    margin-bottom: 15px;
}

.language {
    font-size: 1.5em;
}

.language:hover{
    cursor: pointer;
    text-decoration: underline;
}

.language-choice {
    float: right;
}

.language-selected{
    font-weight: bolder;
}

@media screen {
    .header-title{
        font-size: 20px;
    }
    .header-subtext{
        font-size: 13px;
    }
    #logo-ugent{
        height: 70px;
    }
    .header-text{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .header{
        padding: 3px;
    }
}

@media screen and (min-width: 480px){
    .header-title{
        font-size: 30px;
    }
    .header-subtext{
        font-size: 13px;
    }
    #logo-ugent{
        height: 85px;
    }
    .header-text{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .header{
        padding: 5px;
    }
}

@media screen and (min-width: 768px) {
    .header-title{
        font-size: 50px;
    }
    .header-subtext{
        font-size: 17px;
    }
    #logo-ugent{
        height: 110px;
    }
    .header-text{
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .header{
        padding: 15px;
    }
}

@media screen and (min-width: 992px) {
    .header-title{
        font-size: 55px;
    }
    .header-subtext{
        font-size: 17px;
    }
    #logo-ugent{
        height: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .header-title{
        font-size: 60px;
    }
    .header-subtext{
        font-size: 20px;
    }
    #logo-ugent{
        height: 140px;
    }
    .header-text{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .header{
        padding: 20px;
    }
}
