<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SecFilter</filter-name>
        <filter-class>filters.SecFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>filters.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>*.jpg</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>*.ttf</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>*.svg</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>servlets.LanguageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/LanguageServlet</url-pattern>
    </servlet-mapping>    
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/500.html</location>
    </error-page>
    <error-page> 
        <error-code>401</error-code>       
        <location>/GenericError.html</location>
    </error-page>
    <error-page> 
        <error-code>403</error-code>       
        <location>/GenericError.html</location>
    </error-page>
    <error-page> 
        <error-code>405</error-code>       
        <location>/GenericError.html</location>
    </error-page>
    <error-page> 
        <error-code>503</error-code>       
        <location>/GenericError.html</location>
    </error-page>
    
    <mime-mapping>
        <extension>zip</extension>
        <mime-type>application/zip</mime-type>
    </mime-mapping>
</web-app>
